doctype html
html
    head
        meta(charset="utf8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./static/css/common.css")
        <!--[if lt IE 9]>
        script(src="bower_components/html5shiv/dist/html5shiv.min.js")
        script(src="bower_components/respond/dest/respond.min.js")
        <![endif]-->
    body
        h2 Error: #{error.message}
        - var isSetting = settings['verbose errors']
        if isSetting
            pre #{error.stack}
        else
            p An error occurred!