link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="./static/css/common.css")
<!--[if lt IE 9]>
script(src="bower_components/html5shiv/dist/html5shiv.min.js")
script(src="bower_components/respond/dest/respond.min.js")
<![endif]-->
script(src="./static/js/common.js")